* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-Serif, Arial;
}
body {
    height: auto;
    width: auto;
    background-color: rgb(230,230,245);
}

#container {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    margin: auto;
    height: 100vh;
    max-width: 1000px;
    border-left: 4px solid black;
    border-right: 4px solid black;
    background-color: white;
}

#header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
}
input {
    position: absolute;
    z-index: 20;
    font-size: 2em;
}

#preview {
    background-image: url(../img/t-shirtgirl.png);
    background-repeat: no-repeat;
    /* border: 1px solid purple; */
    width: 1000px;
    height: 600px;
    position: relative;
}

.texture {
    opacity: 0.2;
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: 2;
    top: 350px;
    left: 600px;
    background-image: url(../img/line2.png);
    background-repeat: repeat;
}

#viewport {
    position: absolute;
    z-index: 1;  
    top: 350px;
    left: 600px;
}
#sliderbar {
    height: 120px;
    width: 400px;
    margin: 16px;
}
#swatch {
    width: 120px;
    height: 120px;
    margin: 16px;
    border-radius: 8em;
    background-color: rgb(255,158,192);
}
.break {
    flex-basis: 100%;
    height: 0;
}
#input {
    border: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
input[type="file"] {
    display: none;
}
#header {
    position: absolute;
    z-index: 2;
    /* background-color: black; */
    color: white;
}
h1 {
    font-family: 'Playfair Display', serif;
}
h2 {
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}