* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}

body {
    font-family: sans-serif, Arial;
    position: relative;
}

#container {
    position:relative;
}

#canvas {
    position: relative;
    /*border: 2px solid #000;*/
    /*background-image: url("../img/t-shirt.jpg");*/
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 1;
}
.paintcan {
    margin: 1em;
    height: 6em;
    max-height: 75px;
    width: 6em;
    max-width: 75px;
    border-radius: 99px;
    border: 5px solid #FFF;
    box-shadow: 5px 5px #888888;
}

#buttonbar {
    display: flex;
    justify-content: center;
    position:absolute;
    bottom: 20px;
    z-index: 10;
    width: 100%;
}

#title {
    margin: 0;
    font-family: 'Cookie', cursive;
    font-size: 2em;
    text-shadow: 1.5px 1.5px #CCC;
    color: #2167ff;
    padding: 0.33em 0.75em;
    padding-left: 13%;    
    display: flex;
    position:absolute;
    z-index: 10;
    width: 100%;
    transition: 0.2s;
}
#title:hover {
    text-shadow: 1.5px 1.5px #40BAA4;
}

.order {
    position: absolute;
    padding: 0.25em 0.5em;
    font-family: 'Cookie', cursive;
    color: #FFF;
    font-size: 2em; 
    bottom: 30px;
    right: 50px;
    background-color: #2167ff;
    z-index: 10;
    border-radius: 30px;
    border: 0px solid black;
    box-shadow: 5px 5px #CCC;
    transition: 0.2s;
}
.order:hover {
    box-shadow: 5px 5px #40BAA4;
}

@media only screen and (max-width: 767px) { 
    html {
        color: #F00;
    }
 }